<main class="new-sampler-container">
  <h2 class="new-sampler-title"><%= @playlist.name %></h2>
    <div class="sampler-buttons">
      <%= button_to "Samplify", sampler_path(@sampler), class: "button", method: :patch %>
      <%= button_to "Home", user_path(current_user), class: "button" %>
    </div>

  </div>

  <div class="track-list">

  <% @tracks.each do |track| %>
    <div class="track-container">
      <%= image_tag track.image.url(:medium), class: "paperclip-preview" %>
      <div class="track-info">
        <h3 class="track-name"><%= track.name %></h3>
        <p class="errors">
          <% if !track.preview_url %>
            <%= @message %>
          <% end %>
        </p>
        <%= form_for track, html: {multipart: true} do |f| %>
          <%= f.file_field :image %>
          <%= f.submit %>
        <% end %>
      </div>
    </div>
  <% end %>

  </div>

</main>


