<h2><%= @playlist.name %></h2>

<% @tracks.each do |track| %>
  <p><%= track.name %></p>
  <%= image_tag track.image.url(:thumb) %>
  <%= form_for track, html: {multipart: true} do |f| %>
    <%= f.file_field :image %>
    <%= f.submit %>
  <% end %>
<% end %>

<%= link_to "Samplify this playlist!", samplify_path %>

