<h2 class="sampler-title"><%= @sampler.title %></h2>
<div class="slideshow-container">
  <%= render partial: @tracks %>
</div>

<ul class="thumbs-container">
  <% @tracks.each do |track| %>
    <%= render partial: "thumbnail_images", locals: { track: track } %>
  <% end %>
</ul>

<div id="play-buttons">
  <%= image_tag "pause.png", id:"pause" %>
  <%= image_tag "play.png", id:"play" %>
</div>

<%= audio_tag("https://s3.us-east-2.amazonaws.com/dbc-team-samplify-test/#{@sampler.id}.mp3") %>

<% if logged_in? %>
  <%= link_to "Home", user_path(current_user) %>
  <div class="download-link"></div>
<% else %>
  <%= link_to 'Sign in with Spotify', '/auth/spotify?show_dialog=true' %>
<% end %>

<%= link_to "Open in Spotify", @sampler.spotify_url %>


