<h2><%= @sampler.title %></h2>
<div class="slideshow-container">
  <%= render partial: @sampler.tracks %>

<!--   <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
  <a class="next" onclick="plusSlides(1)">&#10095;</a> -->
</div>

<ul class="thumbs">
  <% @sampler.tracks.each do |track| %>
  <%= render partial: "thumbnail_images", locals: { track: track } %>
<% end %>
</ul>
<%= audio_tag("https://s3.us-east-2.amazonaws.com/dbc-team-samplify-test/output3.mp3", controls: true) %>

<%= link_to "Home", user_path(current_user) %>

<%= link_to "Open in Spotify", @sampler.spotify_url %>
