<h2 class="sampler-title"><%= @sampler.title %></h2>
<div class="slideshow-container">
  <%= render partial: @tracks %>
</div>

<ul class="thumbs-container">
  <% @tracks.each do |track| %>
    <%= render partial: "thumbnail_images", locals: { track: track } %>
  <% end %>
</ul>

<div id="play-buttons">
  <%= image_tag "pause.png", id:"pause" %>
  <%= image_tag "play.png", id:"play" %>
</div>

<%= audio_tag("https://s3.us-east-2.amazonaws.com/dbc-team-samplify-test/#{@sampler.id}.mp3") %>

<div class="show-buttons-container">
  <% if logged_in? %>
    <%= button_to "Home", user_path(current_user), class: "left button", method: :get %>
    <div class="download-link"></div>
  <% else %>
    <%= button_to 'Login', '/auth/spotify', class: "left button", method: :get %>
  <% end %>

  <%= button_to "Spotify", @sampler.spotify_url, class: "right button", method: :get %>
</div>


