<h2><%= @sampler.title %></h2>
<div class="slideshow-container">
  <%= render partial: @sampler.tracks %>
</div>

<ul class="thumbs-container">
  <% @sampler.tracks.each do |track| %>
  <%= render partial: "thumbnail_images", locals: { track: track } %>
<% end %>
</ul>
<%= image_tag "play-button", id:"play" %>
<%= audio_tag("https://s3.us-east-2.amazonaws.com/dbc-team-samplify-test/output3.mp3") %>

<%= link_to "Home", user_path(current_user) %>

<%= link_to "Open in Spotify", @sampler.spotify_url %>
