<div class="profile-pic-container">
  <img class="profile-pic" src="<%= @user.profile_pic_url %>" alt="profile picture">
  <h2 class="profile-name"><%= @user.display_name %></h2>
</div>

<div class="profile-buttons">
  <button class="playlist-button pressed">Create</button>
  <button class="sampler-button">View</button>
</div>


<main class="profile-page">
  <section class="page-content-left">
    <ul class="list-style-none playlists">
      <%= render partial: "playlist", collection: @spotify_user.playlists %>
    </ul>
  </section>

  <section class="page-content-right">
    <% if authorized?(@user) && @user.samplers.empty? %>
      <p>You have not made any samplers yet.</p>
    <% elsif !authorized?(@user) && @user.samplers.empty? %>
      <p id="no-samplers-list"><%= @user.display_name %> has not created any playlists yet.</p>
    <% else %>
    <ul class="list-style-none playlists">
      <%= render partial: "sampler", collection: @user.samplers %>
    </ul>
    <% end %>
  </section>
</main>

<div class="session-buttons">
  <% if logged_in? %>
    <%= button_to "Logout", logout_path, method: :delete, class: "button" %>
  <% end %>
</div>
