<div class="profile-pic-container">
  <img class="profile-pic" src="<%= @user.profile_pic_url %>" alt="profile picture">
  <h1 class="profile-name"><%= @user.display_name %></h2>
</div>

<% if logged_in? %>
  <%= link_to "Logout", logout_path, method: :delete %>
<% end %>

<main class="profile-page">
  <section class="page-content-left">
    <h3>Spotify Playlists</h3>
    <ul class="list-style-none playlists">
      <%= render partial: "playlist", collection: @spotify_user.playlists %>
    </ul>
  </section>

  <section class="page-content-right">
    <h3>Created Samplers</h3>
    <% if authorized?(@user) && @user.samplers.empty? %>
      <p>You have not made any samplers yet.</p>
    <% elsif !authorized?(@user) && @user.samplers.empty? %>
      <p><%= @user.display_name %> has not created any playlists yet.</p>
    <% else %>
    <ul class="list-style-none playlists">
      <%= render partial: "sampler", collection: @user.samplers %>
    </ul>
    <% end %>
  </section>
</main>
