<!DOCTYPE html>
<html>
  <head>
    <title>Samplify</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js" %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <style>
      @import url('https://fonts.googleapis.com/css?family=Francois+One|Permanent+Marker');
    </style>

  </head>
<nav class="page-nav">
    <% if logged_in? %>
      <%= link_to "Logout", logout_path, method: :delete %>
    <% else %>
      <%= link_to 'Sign in with Spotify', '/auth/spotify' %>
    <% end %>
  </nav>
<!--   <header class="page-head">
    <h1 class="samplify-logo">Samplify</h1>
  </header> -->
  <body>
    <%= yield %>
  </body>
</html>
