<!DOCTYPE html>
<html>
  <head>
    <title>Samplify</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <% if logged_in? %>
        <%= link_to "Logout", logout_path, method: :delete %>
      <% else %>
        <%= link_to 'Sign in with Spotify', '/auth/spotify' %>
      <% end %>
    </nav><br>
    <%= yield %>
  </body>
</html>
